@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

figure{
	break-inside: avoid;
	margin: 1em 2.5em;
}

figure img{
	display: block;
	margin: auto;
	max-height: 100vh;
	max-width: 100%;
}
